# Default owner for everything
* @Blobes

# Backend Team
/backend/ @Blobes

# Frontend Team
/frontend/apps/feed/ @Blobes
/frontend/apps/gist/ @Blobes

# ONLY YOU can approve changes to shared state and the shell
/frontend/libs/shared-state/ @Blobes
/frontend/apps/shell/ @Blobes