# Default owner for everything
* @Blobes

# Backend Team
/backend/ @Blobes

# Frontend Team
/frontend/apps/shell/ @Blobes
/frontend/apps/gist/ @Blobes

# ONLY YOU can approve changes to shared state and the shell
/frontend/packages/ @Blobes
/frontend/packages/core/constants/msgRegistry.ts  @Blobes